<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebServiceMD" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ministeriodeportes.azurewebsites.net/WebServiceMD.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWebServiceMD" contract="ReferenceMinisterioDeportesWCF.IWebServiceMD"
        name="BasicHttpBinding_IWebServiceMD" />
    </client>
  </system.serviceModel>
</configuration>