<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="MinisterioDeportesEntityDataModel" connectionString="metadata=res://*/ModeloMinisterioDeportes.csdl|res://*/ModeloMinisterioDeportes.ssdl|res://*/ModeloMinisterioDeportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=9ce858d6-b9cb-4765-8934-a46901350226.sqlserver.sequelizer.com;user id=eqzhermyoimrgwsj;password=XvDRTyTt7UWbxgEerhTdMQwczV8JPSS8B2gKR6VS2Ktw2BGBWyyihNQg8Ar7zjMo;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>