<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ministeriodeportes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ministeriodeportes.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ministerioDeportes</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ministerioDeportes</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MinisterioDeportesEntityDataModel" Order="1" Enabled="False">
          <Destination Path="Data Source=9ce858d6-b9cb-4765-8934-a46901350226.sqlserver.sequelizer.com;Persist Security Info=True;User ID=eqzhermyoimrgwsj;Password=XvDRTyTt7UWbxgEerhTdMQwczV8JPSS8B2gKR6VS2Ktw2BGBWyyihNQg8Ar7zjMo;Application Name=EntityFramework" Name="Data Source=9ce858d6-b9cb-4765-8934-a46901350226.sqlserver.sequelizer.com;Persist Security Info=True;User ID=eqzhermyoimrgwsj;Password=XvDRTyTt7UWbxgEerhTdMQwczV8JPSS8B2gKR6VS2Ktw2BGBWyyihNQg8Ar7zjMo;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MinisterioDeportesAccesoADatos.MinisterioDeportesEntityDataModel, MinisterioDeportesAccesoADatos" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MinisterioDeportesEntityDataModel-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModeloMinisterioDeportes.csdl|res://*/ModeloMinisterioDeportes.ssdl|res://*/ModeloMinisterioDeportes.msl;provider=System.Data.SqlClient;provider connection string="Data Source=9ce858d6-b9cb-4765-8934-a46901350226.sqlserver.sequelizer.com;Persist Security Info=True;User ID=eqzhermyoimrgwsj;Password=XvDRTyTt7UWbxgEerhTdMQwczV8JPSS8B2gKR6VS2Ktw2BGBWyyihNQg8Ar7zjMo;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>